:root {
    --rich-black: #011627;
    --white-powder: #FDFFFC ;
    --gray-powder: #e3e3e3;
    --sea-green: #2EC4B6;
    --red-pantone: #E71D36;
    --orange-peel: #FF9F1C;
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

ul, li {
    list-style: none;
}

.general-nav li img {
    margin-right: 16px;
    vertical-align: middle;
    width: 20px;
    height: auto;
}

.user-settings li img {
    margin-right: 16px;
    vertical-align: middle;
    width: 20px;
    height: auto;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4.5fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-color: var(--sea-green);
    grid-area: 1/1/3/2;
    z-index: 2;
    color: var(--white-powder);
    padding: 28px;
    font-weight: 500;
    font-size: 1.2em;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-group img {
    width: 50px;
}

.sidebar > div {
    font-size: 1.5em;
}

.sidebar > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .general-nav {
    display: flex;
    padding: 50px 0;
    
}

.top-bar {
    background-color: var(--white-powder);
    grid-area: 1/2/2/3;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
    z-index: 1;

}

.bar-one {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 15px 50px;
}

.bell-icon {
    width: 22px;
    height: auto;
}

.bar-one div {
    display: flex;
    gap: 22px;
    align-items: center;
    font-weight: 500;
    font-size: 1.05em;
}

.search-icon {
    width: 22px;
    height: auto;
}

.avatar-corner {
    width: 48px;
    height: auto;
}

input {
    all: unset;
    background-color: var(--gray-powder);
    height: 30px;
    width: 680px;
    border-radius: 20px;
}

.bar-two {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 10px 50px;
}

.bar-two img {
    width: 65px;
    height: auto;
    vertical-align: middle;
}

.bar-two > div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: .9em ;
    gap: 8px;
}

.greeting > :nth-child(2) {
    font-size: 1.8em;
  
}

button {
    all: unset;
    cursor: pointer;   
    background-color: var(--red-pantone);
    border-radius: 18px;
    width: 85px;
    height: 35px;
    text-align: center;
    color: var(--white-powder);
    font-size: .9em;
}

.button-group {
    display: flex;
    gap: 20px;
}

.content-area {
    background-color: var(--gray-powder);
    grid-area: 2/2/3/3;
    color: var(--rich-black);
    font-weight: 500;
    font-size: 22px;
    padding: 26px 26px 50px 20px
}

.content-grid {
  display: grid;
  grid-template-columns: 2.6fr 1fr;
  grid-template-rows: .5fr 10fr;
  height: 100%;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 20px;

}

.title {
    padding-bottom: 12px;
}

.card {
    background-color: var(--white-powder);
    border-radius: 8px;
    border-left: var(--orange-peel) solid 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
    font-size: .9em;
}

.card :nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card img {
    width: 18px;
    height: auto;
}

.corner-actions {
    display: flex;
    gap: 20px;
    justify-content: right;
}

p {
    font-size: .8em;
    font-weight: 300;
}

.side-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    grid-area: 1/2/3/3;
}

.announcements {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
}



.trending {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-card {
    background-color: var(--white-powder);
    border-radius: 8px;
    height: 100%;
    display: flex;
    padding: 24px;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.side-card .users {
    display: flex;
    gap: 12px;
}

.side-card img {
    width: 36px;
    height: auto;
}

.user-right {
    display: flex;
    flex-direction: column;
}

.announcements > .side-card {
    font-size: .7em ;
    gap: 14px;
    
}

.announcements  p {
    font-size: .6em;
}

hr {
   opacity: 50%; 
}

.trending-user {
    font-size: .7em;
    padding-bottom: 3px;
}

.trending-user + div {
    font-size: .6em;
    font-weight: 300;
}

.trending > .side-card {
    gap: 16px;
    justify-content: center;
}